<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<context:property-placeholder location="classpath:/app.properties"/>
	<bean id="springDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" >
		<property name="url" value="${database.urlPrefix}${database.urlName}" />
		<property name="driverClassName" value="${database.driver}" />
		<property name="username" value="${database.user}" />
		<property name="password" value="${database.password}" />
		<property name="removeAbandoned" value="true"/>
		<property name="initialSize" value="20" />
		<property name="maxActive" value="30" />
	</bean>

	<bean id="customerUtility" class="jackiesdogs.utility.CustomerUtilityImpl">
		<constructor-arg index="0"><ref bean="springDataSource"/></constructor-arg>
  	</bean>
	<bean id="productUtility" class="jackiesdogs.utility.ProductUtilityImpl">
		<constructor-arg index="0"><ref bean="springDataSource"/></constructor-arg>
	</bean>
	<bean id="orderUtility" class="jackiesdogs.utility.OrderUtilityImpl">
		<constructor-arg index="0"><ref bean="springDataSource"/></constructor-arg>
	</bean>
	<bean id="pdfExtractorUtility" class="jackiesdogs.file.OmaOrderExtractor"/>
	<bean id="excelExtractorUtility" class="jackiesdogs.file.OmaProductExtractor"/>	
	<bean id="uploadUtility" class="jackiesdogs.file.OmaUploader">
		<constructor-arg index="0"><ref bean="productUtility"/></constructor-arg>		
		<constructor-arg index="1"><ref bean="excelExtractorUtility"/></constructor-arg>
		<constructor-arg index="2"><ref bean="pdfExtractorUtility"/></constructor-arg>
	</bean>	
	<bean id="scrapingUtility" class="jackiesdogs.web.OmaScrapingUtility">
		<constructor-arg index="0"><ref bean="productUtility"/></constructor-arg>		
	</bean>	
</beans>
